<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()">
        <span aria-hidden="true">X</span>
        <span class="sr-only" translate="CLOSE"></span>
    </button>
    <h4 class="modal-title">
        {{'CONTAINER_STATUS'|translate}} ({{containerToEdit.address}})
    </h4>
</div>
<div class="modal-body">
    <div ng-if="containerToEdit.broken==true">
        Repairer:
        <select id="repairersSelectPicker" class="selectpicker" data-live-search="true" ng-model="containerToEdit.repairer"
                ng-options="user as user.firstName + ' ' + user.lastName for user in repairers track by user.id">
        </select>

        <button type="button" ng-click="editContainer(containerToEdit)" class="btn btn-primary"> <i class="fa fa-save"></i> </button>
    </div>
    <table datatable="ng" dt-column-defs="dtColumnDefsSensors" width="100%" class="table table-striped table-bordered table-hover" id="sensors">
        <thead>
        <tr>
            <th translate="SENSOR"></th>
            <th translate="VALUE"></th>
            <th translate="ERROR_CODE"></th>
            <th>Error message</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(sensorName, sensor) in containerToEdit.sensors">
            <td>{{sensorName}}</td>
            <td>{{sensor.value}}</td>
            <td>{{sensor.errorCode}}</td>
            <td>{{sensor.message}}</td>
        </tr>
        </tbody>
    </table>

</div>


<script>
    $(document).ready(function() {
        $('#repairersSelectPicker').selectpicker();
    });
</script>
