<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb lead">
            <li>
                <i class="fa fa-home"></i> <a ui-sref="home">{{'HOME'|translate}}</a>
            </li>
            <li class="active">
                <i class="fa fa-wrench"></i> {{'SIMULATOR'|translate}}
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="thumbnail">
                    <img alt="Garbage truck" class="img-responsive"
                         src="/assets/images/img_garbage_truck.jpg">
                    <hr/>
                    <div class="caption">
                        <div class="clearfix">
                            <h3>
                                {{'SIMULATE_TRUCKS'|translate}}
                                <play-button class="btn btn-lg pull-right" ng-click="simulateTrucks()"
                                             ng-model="isTrucksSimulatorRunning"></play-button>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Second" src="/assets/images/img_routes.jpg">
                    <hr/>
                    <div class="caption">
                        <div class="clearfix">
                            <h3>
                                {{'GENERATE_ROUTES'|translate}}
                                <button type="button" class="btn btn-primary btn-lg pull-right"
                                        ng-click="generateRoutes($event)">
                                    <i class="glyphicon glyphicon-random"></i></button>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Third"
                         src="/assets/images/img_containers.jpg">
                    <hr/>
                    <div class="caption">
                        <div class="clearfix">
                            <h3>
                                {{'SIMULATE_TRUCKS'|translate}}
                                <play-button class="btn btn-lg pull-right" ng-click="simulateContainers()"
                                             ng-model="isContainersSimulatorRunning"></play-button>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span><i class="glyphicon glyphicon-stats"></i> {{'GENERATE_STUFF'|translate}}</span>
            </div>
            <div class="panel-body text-center">
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <div class="thumbnail" style="border: 0 none; box-shadow: none">
                            <ui-knob value="trucksNo" options="trucksKnob"></ui-knob>
                            <div class="caption">
                                <button type="button" class="btn btn-labeled btn-primary" ng-click="createTrucks()">
                                    <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
                                    {{'CREATE_TRUCKS'|translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="thumbnail" style="border: 0 none; box-shadow: none">
                            <ui-knob value="containersNo" options="containersKnob"></ui-knob>
                            <div class="caption">
                                <button type="button" class="btn btn-labeled btn-success" ng-click="createContainers()">
                                    <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
                                    {{'CREATE_CONTAINERS'|translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span><i class="glyphicon glyphicon-th-list"></i> {{'OTHER_TOOLS'|translate}}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-xs-3 text-center">
                        <img class="rounded-circle" src="/assets/images/img_sq_garbage_truck.jpg"
                             alt="Generic placeholder image" width="100">
                        <h4>{{'TRUCKS'|translate}}</h4>
                    </div>
                    <div class="col-lg-9 col-xs-9">
                        <p class="lead">
                            {{'TRUCKS_OTHER_TOOLS'|translate}}
                        </p>
                        <p class="pull-right">
                            <button type="button" class="btn btn-labeled btn-warning" ng-click="emptyTrucks()">
                                <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
                                {{'EMPTY_TRUCKS'|translate}}
                            </button>
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-3 col-xs-3 text-center">
                        <img class="rounded-circle" src="/assets/images/img_sq_containers.jpg"
                             alt="Generic placeholder image" width="100">
                        <h4>{{'CONTAINERS'|translate}}</h4>
                    </div>
                    <div class="col-lg-9 col-xs-9">
                        <p class="lead">
                            {{'CONTAINERS_OTHER_TOOLS'|translate}}
                        </p>
                        <p>
                            <b>{{'WATCH_OUT'|translate}}</b> {{'CONTAINERS_OTHER_TOOLS_WATCH_OUT'|translate}}
                        </p>
                        <p class="pull-right">
                            <button type="button" class="btn btn-labeled btn-warning" ng-click="emptyContainers()">
                                <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
                                {{'EMPTY_CONTAINERS'|translate}}
                            </button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-labeled btn-danger" ng-click="repairContainers()">
                                <span class="btn-label"><i class="glyphicon glyphicon-wrench"></i></span>
                                {{'REPAIR_CONTAINERS_FROM_SIMULATOR'|translate}}
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
