<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb lead">
            <li>
                <i class="fa fa-home"></i> <a ui-sref="home">{{'HOME'|translate}}</a>
            </li>
            <li class="active">
                <i class="fa fa-wrench"></i> {{'SIMULATOR'|translate}}
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="thumbnail">
                    <img alt="Garbage truck" class="img-responsive"
                         src="/assets/images/img_garbage_truck.jpg">
                    <hr/>
                    <div class="caption">
                        <div class="clearfix">
                            <h3>
                                Simulate trucks
                                <play-button class="btn btn-lg pull-right" ng-click="simulateTrucks()"
                                             ng-model="isTrucksSimulatorRunning"></play-button>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Second" src="/assets/images/img_routes.jpg">
                    <hr/>
                    <div class="caption">
                        <div class="clearfix">
                            <h3>
                                Generate routes
                                <button type="button" class="btn btn-primary btn-lg pull-right" onclick="loading(this)"
                                        ng-click="generateRoutes()">
                                    <i class="glyphicon glyphicon-random"></i></button>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Third"
                         src="/assets/images/img_containers.jpg">
                    <hr/>
                    <div class="caption">
                        <div class="clearfix">
                            <h3>
                                Simulate containers
                                <play-button class="btn btn-lg pull-right" ng-click="simulateContainers()"
                                             ng-model="isContainersSimulatorRunning"></play-button>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span><i class="glyphicon glyphicon-stats"></i> Generate stuff</span>
            </div>
            <div class="panel-body text-center">
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <div class="thumbnail" style="border: 0 none; box-shadow: none">
                            <ui-knob value="trucksNo" options="trucksKnob"></ui-knob>
                            <!--<input type="text" value="1" class="knob" title="Trucks amount" data-min="0" data-max="30"-->
                            <!--data-fgColor="#428bca" data-width="60%" ng-model="trucksNo">-->
                            <div class="caption">
                                <button type="button" class="btn btn-labeled btn-primary" ng-click="createTrucks()">
                                    <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
                                    Create trucks
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="thumbnail" style="border: 0 none; box-shadow: none">
                            <ui-knob value="containersNo" options="containersKnob"></ui-knob>
                            <!--<input type="text" value="1" class="knob" title="Containers amount" data-min="0"-->
                            <!--data-max="30" data-fgColor="#5cb85c" data-width="60%" ng-model="containersNo">-->
                            <div class="caption">
                                <button type="button" class="btn btn-labeled btn-success" ng-click="createContainers()">
                                    <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
                                    Create containers
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span><i class="glyphicon glyphicon-th-list"></i> Other tools</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-xs-3 text-center">
                        <img class="rounded-circle" src="/assets/images/img_sq_garbage_truck.jpg"
                             alt="Generic placeholder image" width="100">
                        <h4>Trucks</h4>
                    </div>
                    <div class="col-lg-9 col-xs-9">
                        <p class="lead">
                            You are able to iterate over all of the trucks in the application and clear their current
                            load.
                        </p>
                        <p class="pull-right">
                            <button type="button" class="btn btn-labeled btn-warning" ng-click="emptyTrucks()">
                                <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Empty trucks
                            </button>
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-3 col-xs-3 text-center">
                        <img class="rounded-circle" src="/assets/images/img_sq_containers.jpg"
                             alt="Generic placeholder image" width="100">
                        <h4>Containers</h4>
                    </div>
                    <div class="col-lg-9 col-xs-9">
                        <p class="lead">
                            Here you can empty current load of each container.
                        </p>
                        <p>
                            <b>Watch out!</b> If you press "Repair" button, then every container will be marked as
                            valid.
                        </p>
                        <p class="pull-right">
                            <button type="button" class="btn btn-labeled btn-warning" ng-click="emptyContainers()">
                                <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
                                Empty containers
                            </button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-labeled btn-danger" ng-click="repairContainers()">
                                <span class="btn-label"><i class="glyphicon glyphicon-wrench"></i></span>
                                Repair containers
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function toggle(button) {
        // change color
        $(button).toggleClass("btn-success");
        $(button).toggleClass("btn-danger");

        // toggle button icon
        var icon = $(button).find("i");
        icon.toggleClass("glyphicon-play");
        icon.toggleClass("glyphicon-stop");
    }

    function loading(button) {
        var b = $(button);
        b.button('loading');
        setTimeout(function () {
            b.button('reset');
        }, 1500);
    }
</script>
