<link rel="stylesheet" type="text/css" href="css/style-list.css">

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Containers</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in pagedItems[currentPage]">
                <div class="row toggle" ng-click="showDetail(item)" ng-class-odd="'alt'">
                    <div class="col-xs-9">Container {{item.id}}
                    </div>
                    <div class="col-xs-2">
                    <button type="button" class="btn btn-default btn-xs"  ng-click="editContainer(item);$event.stopPropagation()">Edit</button>
                    <button type="button" class="btn btn-default btn-xs"  ng-click="deleteContainer(item);$event.stopPropagation()">Delete</button>
                    </div>
                    <div class="col-xs-1"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div ng-show="active==item.id" ng-class-odd="'alt'">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                ID:
                            </div>
                            <div class="col-xs-10">
                                {{item.id}}
                            </div>
                            <div class="col-xs-2">
                                Location:
                            </div>
                            <div class="col-xs-10">
                                {{item.location.latitude + ', ' + item.location.longitude}}
                            </div>
                            <div class="col-xs-2">
                                Capacity:
                            </div>
                            <div class="col-xs-10">
                                {{item.capacity}} kg
                            </div>
                            <div class="col-xs-2">
                                Filling percentage:
                            </div>
                            <div class="col-xs-10">
                                {{item.device.sensors.load.value}}%
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pagination pull-right">
            <ul>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>

                <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                    ng-class="{active: n == currentPage}"
                    ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>

                <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </div>
    </div>
</div>