<script type="text/javascript" src="js/expand.js"></script>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Containers</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                    <div class="col-xs-10">Container 7</div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div id="detail-1">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                ID:
                            </div>
                            <div class="col-xs-10">
                                7
                            </div>
                            <div class="col-xs-2">
                                Location:
                            </div>
                            <div class="col-xs-10">
                                Nawojki Street, 49
                            </div>
                            <div class="col-xs-2">
                                Capacity:
                            </div>
                            <div class="col-xs-10">
                                80 kg
                            </div>
                            <div class="col-xs-2">
                                Filling percentage:
                            </div>
                            <div class="col-xs-10">
                                20%
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                    <div class="col-xs-10">Container 11</div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div id="detail-2">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                ID:
                            </div>
                            <div class="col-xs-10">
                                11
                            </div>
                            <div class="col-xs-2">
                                Location:
                            </div>
                            <div class="col-xs-10">
                                Batorego Street, 18
                            </div>
                            <div class="col-xs-2">
                                Capacity:
                            </div>
                            <div class="col-xs-10">
                                50 kg
                            </div>
                            <div class="col-xs-2">
                                Filling percentage:
                            </div>
                            <div class="col-xs-10">
                                87%
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-3" data-toggle="detail-2">
                    <div class="col-xs-10">Container 17</div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div id="detail-3">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                ID:
                            </div>
                            <div class="col-xs-10">
                                17
                            </div>
                            <div class="col-xs-2">
                                Location:
                            </div>
                            <div class="col-xs-10">
                                Kijowska Street, 34
                            </div>
                            <div class="col-xs-2">
                                Capacity:
                            </div>
                            <div class="col-xs-10">
                                55 kg
                            </div>
                            <div class="col-xs-2">
                                Filling percentage:
                            </div>
                            <div class="col-xs-10">
                                91%
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-4" data-toggle="detail-3">
                    <div class="col-xs-10">Container 28</div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div id="detail-4">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                ID:
                            </div>
                            <div class="col-xs-10">
                                28
                            </div>
                            <div class="col-xs-2">
                                Location:
                            </div>
                            <div class="col-xs-10">
                                Karmelicka Street, 23
                            </div>
                            <div class="col-xs-2">
                                Capacity:
                            </div>
                            <div class="col-xs-10">
                                55 kg
                            </div>
                            <div class="col-xs-2">
                                Filling percentage:
                            </div>
                            <div class="col-xs-10">
                                13%
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>