<div class="container">
    <div class="map" style="width:800px;max-width:100%;overflow:hidden;height:500px;color:red;">
        <div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;">
            <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Kraków,+Polska&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
        </div><a class="google-map-code-enabler" rel="nofollow" href="https://www.dog-checks.com/miniature-schnauzer-checks" id="enable-map-data">mini schnauzer checks</a>
        <style>#embedded-map-display img{max-width:none!important;background:none!important;}</style>
    </div>
    <script src="https://www.dog-checks.com/google-maps-authorization.js?id=5722f48e-de52-63c3-2787-0d9d4358e5bf&c=google-map-code-enabler&u=1463597232" defer="defer" async="async"></script>
    <div class="bar">
        Choose filter:<br>
        <input type="checkbox" name="checkbox" id="checkbox_id">
        <label for="checkbox_id">1</label><br>
        <input type="checkbox" name="checkbox" id="checkbox_id2">
        <label for="checkbox_id2">2</label><br>
        <input type="checkbox" name="checkbox" id="checkbox_id3">
        <label for="checkbox_id3">3</label>
    </div>
</div>

