<div class="container">
	<div class="bar">
        Choose filter:<br>
        <input type="checkbox" name="checkbox" id="checkbox_id">
        <label for="checkbox_id">Show trucks</label><br>
        <input type="checkbox" name="checkbox" id="checkbox_id2">
        <label for="checkbox_id3">Show blue containers</label><br>
		<input type="checkbox" name="checkbox" id="checkbox_id3">
        <label for="checkbox_id3">Show green containers</label><br>
		<input type="checkbox" name="checkbox" id="checkbox_id4">
        <label for="checkbox_id3">Show yellow containers</label><br>
		<input type="checkbox" name="checkbox" id="checkbox_id5">
        <label for="checkbox_id3">Show red containers</label><br>
		<input type="checkbox" name="checkbox" id="checkbox_id6">
        <label for="checkbox_id3">Show white containers</label><br>
		<input type="checkbox" name="checkbox" id="checkbox_id6">
        <label for="checkbox_id3">Show full containers</label><br>
    </div>
	<div class="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementsByClassName('map')[0];
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 50.0613357, lng: 19.9379844},
          zoom: 14
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer>
    </script>
  
</div>

