<link rel="stylesheet" type="text/css" href="css/style-home.css">

<div class="container">
	<div class="bar">
        Choose filter:<br>
        <div ng-repeat="col in collectionsAvailable" class="checkbox">
               <label><input id="{{col}}" type="checkbox" class="checkbox" value="{{col}}" ng-checked="selection.indexOf(col) > -1" ng-click="toggleSelection(col)" />Show {{col}}</label>
             </div>

    </div>

        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <div ng-repeat="collectionName in selection">
                <ui-gmap-marker ng-repeat="marker in items[collectionName]"  coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
                <!--<ui-gmap-marker ng-repeat="marker in items['trucks']"  coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">-->
                <!--</ui-gmap-marker>-->
            </div>
        </ui-gmap-google-map>


</div>

