<link rel="stylesheet" type="text/css" href="css/style-form.css">

<section id="login">
    <div class="main-login main-center">
        <div class="panel-heading">
            <img src="/assets/web_logo.png"/>
        </div>
        <div class="container">
            <div class="form-wrap">
                <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                    <div class="form-group">
                        <label for="username" class="label">login</label>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password" class="label">password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <div class="col-sm-12 text-center">
                        <input type="submit" id="btn-signup" class="btn btn-lg btn-block" value="Sign up" ui-sref="signup">
                        <input type="submit" id="btn-login" class="btn btn-lg btn-block" value="Log in" ui-sref="navbar.home">
                    </div>
                </form>
                <div class="forget">
                    <a href="javascript:;" data-toggle="modal" data-target=".forget-modal">forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Password recovery</h4>
            </div>
            <div class="modal-body">
                <p>Type your email account</p>
                <input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-custom" data-dismiss="modal">Recover</button>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <p><strong>Copyright: </strong> Chrzastek, Gajewski, Siatka, Wrona</p>
        </div>
    </div>
</footer>