<script type="text/javascript" src="js/expand.js"></script>
<link rel="stylesheet" type="text/css" href="css/style-list.css">

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Trucks</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                    <div class="col-xs-10">Truck 1 (KR17776)</div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div id="detail-1">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                ID:
                            </div>
                            <div class="col-xs-10">
                                1
                            </div>
                            <div class="col-xs-2">
                                Registration:
                            </div>
                            <div class="col-xs-10">
                                KR17776
                            </div>
                            <div class="col-xs-2">
                                Location:
                            </div>
                            <div class="col-xs-10">
                                Nawojki Street, 52
                            </div>
                            <div class="col-xs-2">
                                Capacity:
                            </div>
                            <div class="col-xs-10">
                                2 tons
                            </div>
                            <div class="col-xs-2">
                                Load:
                            </div>
                            <div class="col-xs-10">
                                20%
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                    <div class="col-xs-10">Truck 2 (KR284VX)</div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div id="detail-2">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                ID:
                            </div>
                            <div class="col-xs-10">
                                2
                            </div>
                            <div class="col-xs-2">
                                Registration:
                            </div>
                            <div class="col-xs-10">
                                KR284VX
                            </div>
                            <div class="col-xs-2">
                                Location:
                            </div>
                            <div class="col-xs-10">
                                Puszkarska Street, 18
                            </div>
                            <div class="col-xs-2">
                                Capacity:
                            </div>
                            <div class="col-xs-10">
                                4.5 tons
                            </div>
                            <div class="col-xs-2">
                                Load:
                            </div>
                            <div class="col-xs-10">
                                80%
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-3" data-toggle="detail-3">
                    <div class="col-xs-10">Truck 5 (KRA2949)</div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div id="detail-3">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                ID:
                            </div>
                            <div class="col-xs-10">
                                5
                            </div>
                            <div class="col-xs-2">
                                Registration:
                            </div>
                            <div class="col-xs-10">
                                KRA2949
                            </div>
                            <div class="col-xs-2">
                                Location:
                            </div>
                            <div class="col-xs-10">
                                Karmelicka Street, 23
                            </div>
                            <div class="col-xs-2">
                                Capacity:
                            </div>
                            <div class="col-xs-10">
                                1.5 tons
                            </div>
                            <div class="col-xs-2">
                                Load:
                            </div>
                            <div class="col-xs-10">
                                100%
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>