<link rel="stylesheet" type="text/css" href="css/style-list.css">

<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Requests</h3>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in pagedItems[currentPage]">
                <div class="row toggle" ng-click="showDetail(item)" ng-class-odd="'alt'">
                    <div class="col-xs-10">{{item.firstName + ' ' + item.lastName + '-' + item.username}}</div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div ng-show="active==item.id" ng-class-odd="'alt'">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                Name:
                            </div>
                            <div class="col-xs-10">
                                {{item.firstName + ' ' + item.lastName}}
                            </div>
                            <div class="col-xs-2">
                                Login:
                            </div>
                            <div class="col-xs-10">
                                {{item.username}}
                            </div>
                            <div class="col-xs-2">
                                Email:
                            </div>
                            <div class="col-xs-10">
                                {{item.email}}
                            </div>
                            <div class="col-xs-2">
                                Role:
                            </div>
                            <div class="col-xs-10">
                                {{item.role}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pagination pull-right">
            <ul>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>

                <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                    ng-class="{active: n == currentPage}"
                    ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>

                <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Users</h3>
        </div>
        <ul class="list-group" style="margin-top: 30px;">
            <li class="list-group-item" ng-repeat="item in pagedItems2[currentPage2]">
                <div class="row toggle" ng-click="showDetail(item)" ng-class-odd="'alt'">
                    <div class="col-xs-10">{{item.firstName + ' ' + item.lastName + '-' + item.username}}</div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div ng-show="active==item.id" ng-class-odd="'alt'">
                    <hr/>
                    <div class="container">
                        <div class="fluid-row">
                            <div class="col-xs-2">
                                Name:
                            </div>
                            <div class="col-xs-10">
                                {{item.firstName + ' ' + item.lastName}}
                            </div>
                            <div class="col-xs-2">
                                Login:
                            </div>
                            <div class="col-xs-10">
                                {{item.username}}
                            </div>
                            <div class="col-xs-2">
                                Email:
                            </div>
                            <div class="col-xs-10">
                                {{item.email}}
                            </div>
                            <div class="col-xs-2">
                                Role:
                            </div>
                            <div class="col-xs-10">
                                {{item.role}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pagination pull-right">
            <ul>
                <li ng-class="{disabled: currentPage2 == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>

                <li ng-repeat="n in range(pagedItems2.length, currentPage2, currentPage2 + gap) "
                    ng-class="{active: n == currentPage2}"
                    ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>

                <li ng-class="{disabled: (currentPage2) == pagedItems2.length - 1}">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </div>
    </div>
</div>