<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{email.creation.title}">SOGO password reset</title>
</head>

<body bgcolor="#FFFFFF" style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%!important;">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#dddddd" style="width: 100%;">
    <tr>
        <td></td>
        <td class="header container" style="display: block!important;max-width: 600px!important;margin: 0 auto!important;clear: both!important;">

            <div class="content" style="padding: 15px;max-width: 800px;margin: 0 auto;display: block;">
                <table bgcolor="#dddddd" style="width: 100%;">
                    <tr>
                        <td align="center"><img src="http://nat-1.d17.iisg.agh.edu.pl:60680/assets/images/web_logo.png" width="300" style="max-width: 100%;"/></td>
                    </tr>
                </table>
            </div>

        </td>
        <td></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap" style="width: 100%;">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF" style="display: block!important;max-width: 600px!important;margin: 0 auto!important;clear: both!important;">

            <div class="content" style="padding: 15px;max-width: 800px;margin: 0 auto;display: block;">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <h3 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 500;font-size: 27px;" th:text="#{email.greeting(${user.login})}">Hi!</h3>
                            <p class="lead" style="margin-bottom: 10px;font-weight: normal;font-size: 17px;line-height: 1.6;">
                                Your SOGO account has been created. <br/>
                                Please contact system administrator to activate it.
                            </p>
                            <p style="margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">
                                <span>Regards, </span>
                                <br/>
                                <em th:text="#{email.signature}">SOGO Team.</em>
                            </p>
                            <!-- Callout Panel -->
                            <p class="callout" style="margin-bottom: 15px;font-weight: normal;font-size: 14px;line-height: 1.6;padding: 15px;background-color: #ECF8FF;">
                                <a th:href="@{|${baseUrl}/#/login|}" style="color: #2BA6CB;font-weight: bold;">Login page</a>
                            </p><!-- /Callout Panel -->

                            <!-- social & contact -->
                            <table class="social" width="100%" style="background-color: #ebebeb;width: 100%;">
                                <tr>
                                    <td>

                                        <!-- column 1 -->
                                        <table align="left" class="column-social" style="width: 190px;float: left;padding: 10px;">
                                            <tr>
                                                <td>

                                                    <h5 class="" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 900;font-size: 17px;">Connect with Us:</h5>
                                                    <p class="" style="margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;"><a href="#" class="soc-btn fb" style="color: #FFF;padding: 3px 7px;font-size: 12px;margin-bottom: 10px;text-decoration: none;font-weight: bold;display: block;text-align: center;background-color: #3B5998!important;">Facebook</a> <a href="#" class="soc-btn tw" style="color: #FFF;padding: 3px 7px;font-size: 12px;margin-bottom: 10px;text-decoration: none;font-weight: bold;display: block;text-align: center;background-color: #1daced!important;">Twitter</a> <a href="#" class="soc-btn gp" style="color: #FFF;padding: 3px 7px;font-size: 12px;margin-bottom: 10px;text-decoration: none;font-weight: bold;display: block;text-align: center;background-color: #DB4A39!important;">Google+</a></p>


                                                </td>
                                            </tr>
                                        </table><!-- /column 1 -->

                                        <!-- column 2 -->
                                        <table align="left" class="column-contact" style="width: 340px;float: left;padding: 10px;">
                                            <tr>
                                                <td>

                                                    <h5 class="" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 900;font-size: 17px;">Contact Info:</h5>
                                                    <p style="margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">Team: <strong>SOGO</strong><br/>
                                                        Members:
                                                        <ol style="color: #888;list-style-type: none;padding-left: 10px;">
                                                            <li style="position: relative;font: bold italic 14px/1.5 Helvetica, Verdana, sans-serif;"><span style="float: left;">Zuzanna C</span><p style="margin-bottom: 10px;font-weight: normal;padding-left: 110px;color: #555;"> zuzanna.chrzastek@gmail.com</p></li>
                                                    <li style="position: relative;font: bold italic 14px/1.5 Helvetica, Verdana, sans-serif;"><span style="float: left;">Lukasz G</span><p style="margin-bottom: 10px;font-weight: normal;padding-left: 110px;color: #555;"> lukasz.gajewski94@gmail.com</p></li>
                                                    <li style="position: relative;font: bold italic 14px/1.5 Helvetica, Verdana, sans-serif;"><span style="float: left;">Grzegorz S</span><p style="margin-bottom: 10px;font-weight: normal;padding-left: 110px;color: #555;"> grzegorz.siatka@gmail.com</p></li>
                                                    <li style="position: relative;font: bold italic 14px/1.5 Helvetica, Verdana, sans-serif;"><span style="float: left;">Patrycja W</span><p style="margin-bottom: 10px;font-weight: normal;font: 12px/1.5 Helvetica, sans-serif;padding-left: 110px;color: #555;"> patrycjawrona23@gmail.com</p></li>
                                                    </ol>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table><!-- /column 2 -->

                                        <span class="clear" style="position: absolute;display: block;clear: both;"></span>

                                    </td>
                                </tr>
                            </table><!-- /social & contact -->

                        </td>
                    </tr>
                </table>
            </div><!-- /content -->

        </td>
        <td></td>
    </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" style="width: 100%;clear: both!important;">
    <tr>
        <td></td>
        <td class="container" style="display: block!important;max-width: 600px!important;margin: 0 auto!important;clear: both!important;">

            <!-- content -->
            <div class="content" style="padding: 15px;max-width: 800px;margin: 0 auto;display: block;">
                <table style="width: 100%;">
                    <tr>
                        <td align="center">
                            <p style="margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">
                                <a href="#" style="color: #2BA6CB;">Terms</a> |
                                <a href="#" style="color: #2BA6CB;">Privacy</a> |
                                <a href="#" style="color: #2BA6CB;"><unsubscribe>Unsubscribe</unsubscribe></a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div><!-- /content -->

        </td>
        <td></td>
    </tr>
</table><!-- /FOOTER -->

</body>
</html>

