<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <!--<h4>-->
            <!--Dashboard-->
        <!--</h4>-->
    </div>
</div>
<!-- /.row -->

<div ng-switch="isAuthenticated()">
    <div class="alert alert-success alert-dismissable" ng-switch-when="true">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--You are logged in as user "{{vm.account.login}}".-->
        <p translate="LOGGED_IN"></p>
    </div>

    <div class="alert alert-warning" ng-switch-when="false">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").-->
        If you want to <a class="alert-link">sign in</a>, you can try the default accounts:<br/>- Administrator
        (login="admin" and password="admin") <br/>- User (login="user" and password="user").
    </div>

    <div class="alert alert-warning" ng-switch-when="false">
        <a href="" class="close" data-dismiss="alert" aria-label="close" ui-sref="signup">&times;</a>
        You don't have an account yet? <a class="alert-link">Register a new account</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-truck fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{items.trucks.length}}</div>
                        <div translate="TRUCKS"></div>
                    </div>
                </div>
            </div>
            <a restrict access="ROLE_ADMIN ROLE_SYSTEM_MANAGER" href="">
                <div class="panel-footer" data-toggle="modal" data-target="#myAddTruckModalLabel">
                        <span class="pull-left" translate="ADD_TRUCK"></span>
                    <span class="pull-right"><i class="fa fa-plus"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a restrict access="ROLE_USER" href="">
                <div class="panel-footer" ui-sref="trucks">
                    <span class="pull-left" translate="DISPLAY_TRUCKS"></span>
                    <span class="pull-right"><i class="fa fa-plus"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-trash-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{items.blue.length + items.yellow.length + items.green.length}}</div>
                        <div translate="CONTAINERS"></div>
                    </div>
                </div>
            </div>
            <a restrict access="ROLE_SYSTEM_MANAGER ROLE_ADMIN" href="">
                <div class="panel-footer" data-toggle="modal" data-target="#myAddContainerModalLabel">
                    <span class="pull-left" translate="ADD_CONTAINER"></span>
                    <span class="pull-right"><i class="fa fa-plus"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a restrict access="ROLE_USER" href="">
                <div class="panel-footer" ui-sref="containers">
                    <span class="pull-left" translate="DISPLAY_CONTAINERS"></span>
                    <span class="pull-right"><i class="fa fa-plus"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-location-arrow fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">1</div>
                        <div translate="CURRENT_ROUTE"></div>
                    </div>
                </div>
            </div>
            <a href="">
                <div class="panel-footer" data-toggle="modal" data-target="#showRouteModalLabel">
                    <span class="pull-left" translate="SELECT_ROUTE"></span>
                    <span class="pull-right"><i class="fa fa-plus"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wrench fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{items.broken.length}}</div>
                        <div translate="SERVICE_ALERTS"></div>
                    </div>
                </div>
            </div>
            <a href="" ng-click="openServiceAlertsModal()">
                <div class="panel-footer">
                    <span class="pull-left" translate="VIEW_DETAILS"></span>
                    <span class="pull-right"><i class="fa fa-plus"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-globe fa-fw"></i>{{'MAP'|translate}}
                <div class="pull-right"></div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ui-gmap-google-map center='mapOptions.center' zoom='mapOptions.zoom' events="mapOptions.events" options="mapOptions.options"
                                    bounds="mapOptions.bounds" control="mapOptions.control">
                    <div>
                    <ui-gmap-markers models="selection" coords="'coords'" icon="'options.icon'" type="'cluster'" typeOptions="mapOptions.options.cluster" click="displayInfoWindow">

                    </ui-gmap-markers>
                    </div>

                </ui-gmap-google-map>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker fa-fw"></i>{{'FILTERS'|translate}}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <!--Trucks-->
                    <table id="trucksTable" class="table table-striped table-bordered table-hover">
                        <tr>
                            <th width="10%"><input type="checkbox" ng-model="checkAllElements['trucks']" ng-click="checkCollection('trucks')"></th>
                            <th translate="TRUCK"></th>
                            <!--<th translate="ROUTE"></th>-->
                            <th width="10%">
                                <a href="" ng-click="showList('trucks')">
                                    <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                                </a>
                            </th>

                        </tr>
                        <tr ng-show="active['trucks']">
                            <td colspan="3">
                                <input type="text" id="truckSearchInput" onkeyup="searchTrucks()" placeholder="Search for registrations..">
                            </td>
                        </tr>

                        <tr ng-show="active['trucks']" ng-repeat="item in items.trucks">

                            <td width="10%">
                                <input type="checkbox" class="checkbox-primary" checklist-model="selection" checklist-value="item">
                            </td>
                            <td>{{item.registration}}</td>
                            <!--<td><input type="radio" name="route" ng-click="showRoute(item.registration)"></td>-->
                        </tr>
                    </table>

                    <!--Containers-->
                    <table class="table table-striped table-bordered table-hover" ng-repeat="col in collectionsAvailable">
                        <tr>
                            <th width="10%"><input id="{{col}}" type="checkbox" ng-model="checkAllElements[col]" ng-click="checkCollection(col)"/></th>
                            <th> {{'SHOW'|translate}} {{col|translate}} </th>
                            <th width="10%">
                                <a href="" ng-click="showList(col)">
                                    <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                                </a>
                            </th>
                       </tr>
                        <tr ng-show="active[col]" ng-repeat="value in fillingPercentageList">
                            <td><input id="{{col+'_'+value}}" type="checkbox" ng-click="selectContainers(col, value)"></td>
                            <td>{{value-10}}-{{value}}%</td>
                        </tr>
                   </table>
                    <!--Broken devices-->
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th width="10%"><input type="checkbox" ng-model="checkAllElements['broken']" ng-click="checkCollection('broken')"/></th>
                            <th translate="SHOW_BROKEN"></th>
                        </tr>
                    </table>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>

<script>
    function searchTrucks() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("truckSearchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("trucksTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

<!-- /.col-lg-8 -->

<div id="myAddTruckModalLabel" class="modal fade add-modal" tabindex="-1" role="dialog" aria-labelledby="myAddTruckModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                    <span class="sr-only" translate="CLOSE"></span>
                </button>
                <h4 class="modal-title" translate="ADD_TRUCK"></h4>
            </div>
            <div class="modal-body" id="addTruckModalBody">
                <label translate="REGISTRATION"></label>
                <input class="form-control" ng-model="truckToAdd.registration">
                <label translate="LOCATION"></label>
                <div id="map-canvas-addtruck" class="angular-google-map-container"></div>
                <label translate="CAPACITY"></label>
                <input class="form-control" ng-model="truckToAdd.capacity">
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-cancelAddTruck" class="btn btn-default" data-dismiss="modal" translate="CANCEL"></button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTruck(truckToAdd)" translate="ADD"></button>
            </div>
        </div>
    </div>
</div>

<div id="myAddContainerModalLabel" class="modal fade add-modal" tabindex="-1" role="dialog" aria-labelledby="myAddContainerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                    <span class="sr-only" translate="CLOSE"></span>
                </button>
                <h4 class="modal-title" translate="ADD_CONTAINER"></h4>
            </div>
            <div class="modal-body">
                <label translate="TYPE"></label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadiosAdd1" value="blue"  ng-model="containerToAdd.type"> {{'BLUE'|translate}}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadiosAdd2" value="green"  ng-model="containerToAdd.type"> {{'GREEN'|translate}}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadiosAdd3" value="yellow" ng-model="containerToAdd.type"> {{'YELLOW'|translate}}
                    </label>
                </div>
                <label translate="LOCATION"></label>
                <div id="map-canvas-addcontainer" class="angular-google-map-container">

                </div>
                <label translate="CAPACITY"></label>
                <input class="form-control" ng-model="containerToAdd.capacity">
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-cancelAddContainer" class="btn btn-default" data-dismiss="modal" translate="CANCEL"></button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addContainer(containerToAdd)" translate="ADD"></button>
            </div>
        </div>
    </div>
</div>

<div id="showRouteModalLabel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="showRouteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                    <span class="sr-only" translate="CLOSE"></span>
                </button>
                <h4 class="modal-title" translate="SELECT_ROUTE"></h4>
            </div>
            <div class="modal-body" id="ShowRouteModalBody">
                <!--<input type="text" id="truckSearchInput" onkeyup="searchTrucks()" placeholder="Search for registrations..">-->
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio" ng-attr-id="{{'radio-none'}}" ng-click="showRoute(null)" checked/>
                        <label ng-attr-for="{{'radio-none'}}">None</label>
                    </div>
                </div>
                <div class="funkyradio" ng-repeat="truck in items.trucks">
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio" ng-attr-id="{{'radio' + truck.id}}" ng-click="showRoute(truck.registration)"/>
                        <label ng-attr-for="{{'radio' + truck.id}}">{{truck.registration}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
