<table style="width:100%">
    <tbody>
    <tr>
        <td>Id:</td>
        <td>{{parameter.id}}</td>
    </tr>
    <tr ng-if="parameter.registration">
        <td>Registration:</td>
        <td>{{parameter.registration}}</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>{{parameter.type}}</td>
    </tr>
    <tr>
        <td>Location:</td>
        <td>{{parameter.address}}</td>
    </tr>
    <tr>
        <td>Capacity:</td>
        <td>{{parameter.capacity}} kg</td>
    </tr>
    <tr>
        <td>Load:</td>
        <td>{{parameter.load}}</td>
    </tr>
    </tbody>
</table>
