<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img id="aaa" src="../../../assets/images/web_logo.png"/></a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="lang">
                <div ng-controller="LanguageSwitchController">
                    <a href class="flag-icon flag-icon-pl" ng-click="changeLanguage('pl')"></a>
                    <a href class="flag-icon flag-icon-gb" ng-click="changeLanguage('en')"></a>
                </div>
            </li>
            <li class="dropdown">

                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge">{{brokenContainers.length}}</span><b class="caret"></b></a>

                <ul class="dropdown-menu notifications" role="menu">
                    <div class="notification-heading"><h4 class="menu-title" translate="NOTIFICATIONS"></h4><h4 class="menu-title pull-right"><a href="" data-toggle="modal" data-target="#myViewDetailsModalLabel" translate="VIEW_ALL"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></h4>
                    </div>
                    <li class="divider"></li>
                    <div class="notifications-wrapper">
                        <a class="content" href="" ng-repeat="container in brokenContainers">
                            <div class="notification-item">
                                <h4 class="item-title">{{'CONTAINER'|translate}} <b>{{container.id}}</b> {{'ERROR_REPORT'|translate}}</h4>
                                <p class="item-info">({{'LOCATION'|translate}}: {{container.address}})</p>
                            </div>
                        </a>
                    </div>
                     <!--<li ng-repeat="container in brokenContainers">-->
                        <!--<a href="">-->
                        <!--<div>-->
                            <!--<div class="col-xs-2" ><span class="label label-danger" align="center">error</span></div>-->
                            <!--Container at <b>{{container.address}}</b> reported an error!-->
                        <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="">View All</a>-->
                    <!--</li>-->
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{currentUser.firstName + ' ' +currentUser.lastName}} <b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="" ui-sref="app.navbar.profile" translate="PROFILE"><i class="fa fa-fw fa-user"></i></a>
                    </li>
                    <li>
                        <a translate="SETTINGS"><i class="fa fa-fw fa-gear"></i></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" ng-click="vm.logout()" translate="LOG_OUT"><i class="fa fa-fw fa-power-off"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="nav-main">
            <ul class="nav navbar-nav side-nav">
                <li id="focus">
                    <a ui-sref="app.navbar.home" translate="HOME"><i class="fa fa-fw fa-home"></i></a>
                </li>
                <li>
                    <a ui-sref="app.navbar.trucks" translate="TRUCKS"><i class="fa fa-fw fa-truck"></i></a>
                </li>
                <li>
                    <a ui-sref="app.navbar.containers" translate="CONTAINERS"><i class="fa fa-fw fa-trash-o"></i></a>
                </li>
                <li>
                    <a ui-sref="app.navbar.users" translate="USERS"><i class="fa fa-fw fa-users"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div ui-view></div>
        </div>
    </div>
</div>
