<!--<link rel="stylesheet" type="text/css" href="css/style-home.css">-->

<div class="container">

    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events" options="map.options" bounds="map.bounds" control="map.control">
            <div ng-repeat="collectionName in selection">
                <ui-gmap-marker ng-repeat="marker in items[collectionName]"  coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    <ui-gmap-window>
                        <table style="width:100%">
                            <tr>
                                <td>Id:</td>
                                <td>{{marker.id}}</td>
                            </tr>
                            <tr>
                                <td>Type:</td>
                                <td>{{marker.type}}</td>
                            </tr>
                            <tr>
                                <td>Location:</td>
                                <td>{{marker.coords.latitude + ', ' + marker.coords.longitude}}</td>
                            </tr>
                            <tr>
                                <td>Capacity:</td>
                                <td>{{marker.capacity}} kg</td>
                            </tr>
                            <tr>
                                <td>Load:</td>
                                <td>{{marker.load}}</td>
                            </tr>
                        </table>
                    </ui-gmap-window>
                </ui-gmap-marker>
                <!--<ui-gmap-marker ng-repeat="marker in items['trucks']"  coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">-->
                <!--</ui-gmap-marker>-->
            </div>
        </ui-gmap-google-map>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 bar">
        Choose filter:<br>
        <div ng-repeat="col in collectionsAvailable" class="checkbox">
               <label><input id="{{col}}" type="checkbox" class="checkbox" value="{{col}}" ng-checked="selection.indexOf(col) > -1" ng-click="toggleSelection(col)" />Show {{col}}</label>
             </div>

    </div>
</div>

