<!--<link rel="stylesheet" type="text/css" href="css/style-navbar.css">-->

<!-- TODO delete margin-bottom -->
<div id="site">
    <nav class="navbar navbar-inverse navbar-fixed">
        <div id="headerRibbon">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" id="homeButton" href="http://localhost:8080/"><span>SOGO</span></a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.home">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Containers<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background-color:black;">
                                <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.containers">Containers(Admin)</a></li>
                                <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.containers-user">Containers(User)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Trucks<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background-color:black;">
                                <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.trucks">Trucks(Admin)</a></li>
                                <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.trucks-user">Trucks(User)</a></li>
                            </ul>
                        </li>

                        <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.users">Users</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#" ng-click="co.logout()">Logout</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </nav>
</div>

<div ui-view></div>
</div>
