<!--<link rel="stylesheet" type="text/css" href="css/style-navbar.css">-->

<!-- TODO delete margin-bottom -->
<!--
<div id="site">
    <nav class="navbar navbar-inverse navbar-fixed">
        <div id="headerRibbon">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" id="homeButton" href="http://localhost:8080/"><span>SOGO</span></a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.home">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Containers<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background-color:black;">
                                <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.containers">Containers(Admin)</a></li>
                                <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.containers-user">Containers(User)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Trucks<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background-color:black;">
                                <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.trucks">Trucks(Admin)</a></li>
                                <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.trucks-user">Trucks(User)</a></li>
                            </ul>
                        </li>

                        <li data-toggle="collapse" data-target="#myNavbar"><a ui-sref="navbar.users">Users</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#" ng-click="co.logout()">Logout</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </nav>
</div>
-->

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SOGO</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu message-dropdown">-->
                    <!--<li class="message-preview">-->
                        <!--<a href="#">-->
                            <!--<div class="media">-->
                                        <!--<span class="pull-left">-->
                                            <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                        <!--</span>-->
                                <!--<div class="media-body">-->
                                    <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                                    <!--</h5>-->
                                    <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="message-preview">-->
                        <!--<a href="#">-->
                            <!--<div class="media">-->
                                        <!--<span class="pull-left">-->
                                            <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                        <!--</span>-->
                                <!--<div class="media-body">-->
                                    <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                                    <!--</h5>-->
                                    <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="message-preview">-->
                        <!--<a href="#">-->
                            <!--<div class="media">-->
                                        <!--<span class="pull-left">-->
                                            <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                        <!--</span>-->
                                <!--<div class="media-body">-->
                                    <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                                    <!--</h5>-->
                                    <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="message-footer">-->
                        <!--<a href="#">Read All New Messages</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>-->
                    <!--</li>-->
                    <li>
                        <a><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" ng-click="co.logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a ui-sref="navbar.home"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li>
                    <a ui-sref="navbar.trucks"><i class="fa fa-fw fa-truck"></i> Trucks</a>
                </li>
                <li>
                    <a ui-sref="navbar.containers"><i class="fa fa-fw fa-trash-o"></i> Containers</a>
                </li>
                <li>
                    <a ui-sref="navbar.users"><i class="fa fa-fw fa-users"></i> Users</a>
                </li>
                <!--<li>-->
                    <!--<a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>-->
                    <!--<ul id="demo" class="collapse">-->
                        <!--<li>-->
                            <!--<a href="#">Dropdown Item</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Dropdown Item</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div ui-view></div>
        </div>
    </div>
</div>
