/*main*/

body, html{
  height: 100%;
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  font-family: 'Oxygen', sans-serif;
}

.main-login{
  background-color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 500px;
}

/*container*/

.container-fluid {
  max-width: 100%;
  max-height: 100%;
}

/*footer*/

#footer {
  color: #6d6d6d;
  font-size: 12px;
  text-align: center;
}
#footer p {
  margin-top: 10px;
  margin-bottom: 0;
}
#footer a {
  color: inherit;
}

/*recovery*/

.modal-content .btn {
  display: inline;
  font-size: 14px;
  color: #fff;
  background-color: #32A945;
}

/*navigation bar*/

.navbar.navbar-default {
  border-radius: 0px;
  border-left: transparent;
}

#navbar-collapse {
  border-bottom: 1px solid #266080;
}

#logo {
  background-size: cover;
  position: absolute;
  z-index: 1;
}

#logo img {
  width: 100%;
  height: 256px;
  min-width: 256px;
  margin: 10px;
}

div.nopadding {
  padding: 0;
  /*margin: 0;*/
}

.collapse {
  margin-left: 0px;
  font-size: x-large;
}

.row {
  margin-top: 10px;
  margin-bottom: 20px;
}

.navbar {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-color: #353535;
  margin-top: 58px;
}

.nav-tabs > li {
  float: right;
}

.nav-tabs > li > a {
  border: none;
  color: #ffffff;
  background-color: #353535;
  margin: 5px;
}

.col-md-10 {
  width: 100%;
  /*margin-top: 78.1667px;
  margin-bottom: 78.1667px;*/
  width: 95%;
  float: right;
  height: 70px;
}

.nav-tabs > .dropdown > a:hover,
.nav-tabs > li > a:hover {
  color: #32A945 !important;
  background: transparent;
}

.nav-tabs > .dropdown > a:active,
.nav-tabs > .dropdown > a:focus,
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus {
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #32A945;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after {
  background: transparent;
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.dropdown-toggle {
  max-width: 60%;
  margin: 0 auto;
}

.dropdown-menu {
  float: right;
}

/*friends/gifts*/

body {
  padding: 30px 0px 60px;
}

.list {
  max-width: 75%;
  margin: 0 auto;
}

.panel > .list-group .list-group-item:first-child {
  /*border-top: 1px solid rgb(204, 204, 204);*/
}

@media (max-width: 767px) {
  .visible-xs {
    display: inline-block !important;
  }
  .block {
    display: block !important;
    width: 100%;
    height: 1px !important;
  }
}

#back-to-bootsnipp {
  position: fixed;
  top: 10px; right: 10px;
}

.c-search > .form-control {
  border-radius: 0px;
  border-width: 0px;
  border-bottom-width: 1px;
  font-size: 1.3em;
  padding: 12px 12px;
  height: 44px;
  outline: none !important;
}

.c-search > .form-control:focus {
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none;
}

.c-search > .input-group-btn .btn {
  border-radius: 0px;
  border-width: 0px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  height: 44px;
}

.c-list {
  padding: 0px;
  min-height: 44px;
}

.title {
  display: inline-block;
  font-size: 1.7em;
  font-weight: bold;
  padding: 5px 15px;
}

ul.c-controls {
  list-style: none;
  margin: 0px;
  min-height: 44px;
}

ul.c-controls li {
  margin-top: 8px;
  float: left;
}

ul.c-controls li a {
  font-size: 1.7em;
  padding: 11px 10px 6px;
}

ul.c-controls li a i {
  min-width: 24px;
  text-align: center;
}

ul.c-controls li a:hover {
  background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
  font-size: 1.7em;
}

.name {
  font-size: 1.7em;
  font-weight: 700;
}

.c-info {
  padding: 5px 10px;
  font-size: 1.25em;
}

.list-group-item > div > img {
  max-height: 80px;
}