body, div {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#main {
    width: 100%;
    margin: 30px auto;
    color: #555;
}

#left {
    width: 45%;
    text-align: right;
    float: left;
}

#right {
    width: 55%;
    text-align: left;
    padding-left: 40px;
    font-size: 250px;
    float: left;
}

#d404 {
    font-size: 120px;
}

#page {
    font-size: 70px;
}

#not {
    font-size: 80px;
}

#found {
    font-size: 30px;
}

#logo {
    height: 100%;
    width: auto;
}