.container {
    width: 85%;
	height: 600px;
	float: right;
}

.map {
	width: auto;
	height: 100%;
	overflow: hidden;
}

.bar {
    width: 300px;
	height: 100%;
    float: right;
    padding: 10px;
}

.angular-google-map-container { height: 400px; }