/*main*/

body, html{
  height: 100%;
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  font-family: 'Oxygen', sans-serif;
}

.main-login{
  background-color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center{
  margin-top: 20px;
  margin: 0 auto;
  max-width: 500px;
}

/*container*/

.container-fluid {
  max-width: 100%;
  max-height: 100%;
}

/*navigation bar*/

.navbar.navbar-default {
  border-radius: 0px;
  border-left: transparent;
}

#navbar-nav {
  border-bottom: 1px solid #266080;
}

#logo {
  background-size: cover;
  position: absolute;
  z-index: 1;
}

#logo img {
  width: 100%;
  height: 256px;
  min-width: 256px;
  margin: 10px;
}

div.nopadding {
  padding: 0;
  /*margin: 0;*/
}

.row {
  margin-top: 10px;
  margin-bottom: 20px;
}

.navbar {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-color: #353535;
  margin-top: 58px;
}

.nav-tabs {
  float: right;
  margin-top: 43.025px;
  font-size: x-large;
}

.nav-tabs > li > a {
  border: none;
  color: #ffffff;
  background-color: #353535;
  margin: 5px;
  text-align: center;
}

.dropdown {
  float: right;
}

.col-md-10 {
  width: 100%;
  /*margin-top: 78.1667px;
  margin-bottom: 78.1667px;*/
  width: 95%;
  float: right;
  height: 70px;
}

.divider {
  width: 70px;
  height: 50px;
}

.nav-tabs > .dropdown > a:hover,
.nav-tabs > li > a:hover {
  color: #32A945 !important;
  background: transparent;
}

.nav-tabs > .dropdown > a:active,
.nav-tabs > .dropdown > a:focus,
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus {
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #32A945;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after {
  background: transparent;
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.dropdown-toggle {
  max-width: 60%;
  margin: 0 auto;
}

.dropdown-menu {
  float: right;
}