
@media (min-width : 768px) {
	/* Make Navigation Toggle on Desktop Hover */
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}

.angular-google-map-container {
	height: 400px;
	min-width: 450px;
}