/*main*/

body, html{
  height: 100%;
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  font-family: 'Oxygen', sans-serif;
}

.main-login{
  background-color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center{
  margin-top: 20px;
  margin: 0 auto;
  max-width: 500px;
}

/*container*/

.container-fluid {
  max-width: 100%;
  max-height: 100%;
}

/*navigation bar*/


div.nopadding {
  padding: 0;
  /*margin: 0;*/
}

.row {
  margin-top: 10px;
  margin-bottom: 20px;
}

.navbar {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  min-width: 500px;
}

.collapse > li > a {
  border: none;
  color: #ffffff;
  text-align: center;
}

.collapse, .in {
  text-align: center;
}
.collapse ul li a, .in ul li a {
  color: #ffffff!important;
}
.nav > li.active > a,
.navbar-nav > li.active > a{
  color: #32A945 !important;
  background: none !important;
}

.collapse ul li a:hover, .in ul li a:hover {
  color: #32A945 !important;
}

/*.navbar-nav > li > a:hover {*/
  /*color: #32A945 !important;*/
  /*background: transparent;*/
/*}*/

/*.navbar-nav > li > a:active,*/
/*.navbar-nav > li > a:focus {*/
  /*background: transparent;*/
/*}*/

/*.navbar-nav > li > a::after {*/
  /*content: "";*/
  /*background: #32A945;*/
  /*height: 2px;*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*left: 0px;*/
  /*bottom: -1px;*/
  /*transition: all 250ms ease 0s;*/
  /*transform: scale(0);*/
/*}*/

/*.navbar-nav > li.active > a::after {*/
  /*background: transparent;*/
/*}*/

/*.navbar-nav > li.active > a::after,*/
/*.navbar-nav > li:hover > a::after {*/
  /*transform: scale(1);*/
/*}*/


/*main*/

body {
  background-color: #ffffff;
  font-size: 13px;
}

#headerRibbon ul.nav li.active a {
  opacity: 1;
}

a#homeButton span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  float: left;
}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
@media (max-width: 979px) {

  #headerRibbon {
    background-image: url(/assets/ribbon.png);
    background-repeat: repeat-x;
    background-position: top center;
    padding: 0px 10px;
    margin-bottom: 20px;
  }

  a#homeButton {
    margin-top: 0px;
  }

  a#homeButton span {
    font-family: "tertre_medbold";
    background-image: url(/assets/sogo_32x32_button.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 15px 5px 10px 40px;
    color: #FFFFFF;
    width: 200px;
  }
}

@media (min-width: 979px) {
  #headerRibbon {
    background-image: url(/assets/ribbon.png);
    background-repeat: repeat-x;
    background-position: center center;
    height: 148px;
    margin-bottom: 9px;
  }

  a#homeButton {
    display: block;
    margin: 5px 0px 0px 0px;
    height: 148px;
    width: 148px;
    background-image: url(/assets/sogo_128x128_button.png);
    background-repeat: no-repeat;
    padding: 0px;
  }

  a#homeButton span {
    display: none;
  }

  .navbar .nav {
    margin-top: 50px;
    margin-left: 20px;
  }

}

@media (max-width: 767px) {
  body {
    padding: 0px;
  }

  #headerRibbon {
    margin-bottom: 0px;
  }

  a#homeButton span {
    width: 200px;
  }

  .collapsing, .in {
    background-color: #333;
    text-align: center;
  }
  .collapsing ul li a, .in ul li a {
    color: #ffffff!important;
  }
  .collapsing ul li a:hover, .in ul li a:hover {
    color: #32A945 !important;
  }
}

@media (max-width: 550px) {

  a#homeButton span {
    width: 200px;
  }
}

@media (max-width: 550px) {

  a#homeButton span {
    width: 270px;
  }
}

@media (max-width: 415px) {

  a#homeButton span {
    width:190px;
  }
}


div#site{
  max-width: 1200px;
  margin: 0 auto;
}

/*navigation bar*/

.navbar.navbar-inverse {
  border-radius: 0px;
  border-left: transparent;
}

.navbar-collapse {
  font-size: x-large;
}

