/*main*/

body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    font-family: 'Oxygen', sans-serif;
}

.main-login{
    background-color: #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
}

/*icon*/

img {
    max-width: 80%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.panel-heading {
    text-align: center;
}

/*container*/

.container {
    max-width: 100%;
    max-height: 100%;
}

/*login*/

#login {
    padding-top: 50px;
}

#login .form-wrap {
    width: 80%;
    margin: 0 auto;
}

#login .form-group {
    margin-bottom: 25px;
}

#login .form-group input,
#login .form-group select {
    font-size: 13px;
}
#login h1 {
    color: #32A945;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

#login .btn {
    display: inline-block;
    max-width: 40%;
    font-size: 14px;
    color: #fff;
    background-color: #32A945;
    margin: 0 15px 20px;
}

#login #btn-signup {
    background-color: #9F9F9F;
}

.col-sm-12 {
    margin-top: 15px;
}

#login .btn:hover,
#login .btn:focus {
    color: #fff;
}

.form-group .label {
    font-size: 15px;
    color: #6d6d6d;
}

#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
    color: #6d6d6d;
    margin-bottom: 20px;
}

/*#login .forget a {*/
    /*color: #6d6d6d;*/
    /*float: right;*/
    /*padding-bottom: 25px;*/
/*}*/

/*footer*/

#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-top: 10px;
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

/*recovery*/

.modal-content {
    text-align: left;
}

.modal-content .btn {
    display: inline;
    font-size: 14px;
    color: #fff;
    background-color: #32A945;
}

.modal-content #btn-cancel {
    background-color: #9F9F9F;
}
