<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                    Requests
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="requests">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Enable</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in requests">
                        <td>{{request.firstName + ' ' + request.lastName}}</td>
                        <td>{{request.login}}</td>
                        <td>{{request.email}}</td>
                        <td>{{request.authorities}}</td>
                        <td><button type="button" ng-click="acceptUser(request)"class="btn btn-success"><i class="fa fa-check"></i></button></td>
                    </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Users
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" width="100%" class="table table-striped table-bordered table-hover" id="users">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Disable</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.firstName + ' ' + user.lastName}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.email}}</td>
                        <!--<td>{{user.authorities}}-->
                            <!--<div class="button-group">-->
                            <!--<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog "></span> <span class="caret"></span></button>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>Option 1</a></li>-->
                                <!--<li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>Option 2</a></li>-->
                                <!--<li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>Option 3</a></li>-->
                                <!--<li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>Option 4</a></li>-->
                                <!--<li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>Option 5</a></li>-->
                                <!--<li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>Option 6</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                            <td><select multiple="multiple">
                                <option ng-repeat="role in user.authorities" value="role">{{role}}</option>
                            </select>
                        </td>
                        <td><button type="button" ng-click="disableUser(user)" class="btn btn-danger"><i class="fa fa-close"></i></button></td>
                    </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$('#requests').DataTable({-->
            <!--responsive: true-->
        <!--});-->
        <!--$('#users').DataTable({-->
            <!--responsive: true-->
        <!--});-->
        <!--var table = $('#requests').DataTable();-->
        <!--new $.fn.dataTable.Buttons(table, {-->
            <!--buttons: [-->
                <!--{-->
                    <!--text: 'Add new user',-->
                    <!--action: function (e, dt, node, conf) {-->
                        <!--alert('Redirection to user addition page');-->
                    <!--}-->
                <!--}-->
            <!--]-->
        <!--});-->

        <!--table.buttons(0, null).container().prependTo(-->
            <!--table.table().container()-->
        <!--);-->
    <!--});-->
<!--</script>-->
