<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                    {{'PROFILE_PAGE'|translate}}
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label" translate="NAME"></label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" ng-model="currentUser.firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" translate="SURNAME"></label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" ng-model="currentUser.lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" translate="EMAIL"></label>
                        <div class="col-lg-8">
                            <input class="form-control" type="email" ng-model="currentUser.email">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-lg-3 control-label">Role:</label>-->
                        <!--<div class="col-lg-8">-->
                            <!--<input class="form-control" type="email" ng-model="currentUser.email">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-lg-3 control-label" translate="PASSWORD"></label>
                        <div class="col-lg-8">
                            <input class="form-control" type="password" ng-model="currentUser.currentPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" translate="NEW_PASSWORD"></label>
                        <div class="col-lg-8">
                            <input class="form-control" type="password" ng-model="currentUser.newPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" translate="CONFIRM_PASSWORD"></label>
                        <div class="col-lg-8">
                            <input class="form-control" type="password" ng-model="currentUser.newPasswordConfirm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-8">
                            <button type="button" class="btn btn-primary" ng-click="updateUser()" translate="SAVE_CHANGES"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
