<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                    {{'TRUCKS'|translate}}
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <button restrict access="ROLE_ADMIN ROLE_SYSTEM_MANAGER" type="button" class="btn btn-primary" ng-click="setTruckToAdd()" data-toggle="modal" data-target=".add-modal" translate="ADD_TRUCK"></button>
                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" width="100%" class="table table-striped table-bordered table-hover" id="trucks">
                    <thead>
                    <tr>
                        <!--<th>ID</th>-->
                        <th translate="REGISTRATION"></th>
                        <th translate="CAPACITY"></th>
                        <th translate="LOAD"></th>
                        <th translate="LOCATION"></th>
                        <th translate="DRIVER"></th>
                        <th translate="OPTIONS"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <!--<td>{{item.id}}</td>-->
                        <td>{{item.registration}}</td>
                        <td>{{item.capacity}}</td>
                        <td>{{item.load}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.user.firstName + ' ' + item.user.lastName}}</td>
                        <td class="fit">
                            <button type="button" ng-click="setTruckToEdit(item);setActiveObject(item);" data-toggle="modal" data-target=".show-modal" class="btn btn-primary btn-table">
                                <i class="fa fa-map-marker"></i>
                             </button>
                            <button restrict access="ROLE_ADMIN ROLE_SYSTEM_MANAGER" type="button" ng-click="setTruckToEdit(item);setActiveObject(item);" data-toggle="modal" data-target=".edit-modal" class="btn btn-warning btn-table">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button restrict access="ROLE_ADMIN ROLE_SYSTEM_MANAGER" type="button" ng-click="deleteTruck(item)" class="btn btn-danger btn-table">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div id="myAddModalLabel" class="modal fade add-modal" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                    <span class="sr-only" translate="CLOSE"></span>
                </button>
                <h4 class="modal-title" translate="ADD_TRUCK"></h4>
            </div>
            <div class="modal-body">
                <label translate="REGISTRATION"></label>
                <input class="form-control" ng-model="truckToAdd.registration">
                <label translate="DRIVER"></label>
                <select id="truckUserAddSelectPicker" class="selectpicker form-control" data-live-search="true" ng-model="truckToAdd.user"
                        ng-options="user as user.firstName + ' ' + user.lastName for user in users track by user.id">
                </select>
                <label translate="LOCATION"></label>
                <div id="map-canvas-addtruck" class="angular-google-map-container"></div>
                <label translate="CAPACITY"></label>
                <input class="form-control" ng-model="truckToAdd.capacity">
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-cancelAdd" class="btn btn-default" data-dismiss="modal" translate="CANCEL"></button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTruck(truckToAdd)" translate="ADD"></button>
            </div>
        </div>
    </div>
</div>

<div id="myEditModalLabel" class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                    <span class="sr-only" translate="CLOSE"></span>
                </button>
                <h4 class="modal-title" translate="EDIT_TRUCK"></h4>
            </div>
            <div class="modal-body">
                <label translate="REGISTRATION"></label>
                <input class="form-control" ng-model="truckToEdit.registration">
                <label translate="DRIVER"></label>
                <select id="truckUserEditSelectPicker" class="selectpicker form-control"   data-live-search="true" ng-model="truckToEdit.user"
                        ng-options="user as user.firstName + ' ' + user.lastName for user in users track by user.id">
                </select>
                <label translate="LOCATION"></label>
                <div id="map-canvas-edittruck" class="angular-google-map-container"></div>
                <label translate="CAPACITY"></label>
                <input class="form-control" ng-model="truckToEdit.capacity">
                <label translate="LOAD"></label>
                <input class="form-control" ng-model="truckToEdit.load">
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-cancelEdit" class="btn btn-default" data-dismiss="modal" translate="CANCEL"></button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="editTruck(truckToEdit)" translate="SAVE"></button>
            </div>
        </div>
    </div>
</div>

<div id="myShowLocationModalLabel" class="modal fade show-modal" tabindex="-1" role="dialog" aria-labelledby="myShowLocationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                    <span class="sr-only" translate="CLOSE"></span>
                </button>
                <h4 class="modal-title" translate="TRUCK_LOCATION"></h4>
            </div>
            <div class="modal-body">
                <div id="map-canvas-showtruck" class="angular-google-map-container"></div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>
