<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit container</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form">
                            <div class="form-group">
                                <label>Type</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>blue
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">green
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">yellow
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Location</label>
                                <input class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Capacity</label>
                                <input class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Filling percentage</label>
                                <input class="form-control" type="range" min="10" max="1000" step="10" />
                            </div>
                            <button type="submit" class="btn btn-default">Add</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
