<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Trucks
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="trucks">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Registration</th>
                        <th>Location</th>
                        <th>Capacity</th>
                        <th>Load</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.id}}</td>
                        <td>{{item.registration}}</td>
                        <td class="center"><a ng-click="showDetail(item);setActiveObject(item)">Show</a>
                            <div ng-if="active==item.id" ng-class-odd="'alt'">
                                <div ng-controller="HomeController" >
                                    <ui-gmap-google-map  center='activeObject.map.center' zoom='activeObject.map.zoom'>
                                        <div>
                                            <ui-gmap-marker coords="activeObject.coords" options="activeObject.options" events="activeObject.events" idkey="activeObject.id">
                                            </ui-gmap-marker>
                                        </div>
                                    </ui-gmap-google-map>
                                </div>
                            </div>
                        </td>
                        <td>{{item.capacity}}</td>
                        <td>{{item.load}}</td>
                        <td><a ui-sref="navbar.new_truck"><i class="fa fa-edit fa-3px"></i></a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#trucks').DataTable({
            responsive: true
        });
        var table = $('#trucks').DataTable();
        new $.fn.dataTable.Buttons(table, {
            buttons: [
                {
                    text: 'Add new truck',
                    action: function (e, dt, node, conf) {
                        alert('Redirection to truck addition page');
                    }
                }
            ]
        });

        table.buttons(0, null).container().prependTo(
            table.table().container()
        );
    });
</script>

<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h3 class="panel-title">Trucks</h3>-->
<!--</div>-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item" ng-repeat="item in pagedItems[currentPage]">-->
<!--<div class="row toggle" ng-click="showDetail(item)" ng-class-odd="'alt'">-->
<!--<div class="col-xs-1"><i class="fa fa-chevron-down"></i></div>-->
<!--<div class="col-xs-11 col-sm-9">Truck {{item.registration}}</div>-->
<!--<div class="col-xs-12 col-sm-2">-->
<!--<button type="button" class="btn btn-default btn-xs" ng-click="editTruck(item);$event.stopPropagation()">Edit</button>-->
<!--<button type="button" class="btn btn-default btn-xs" ng-click="deleteTruck(item);$event.stopPropagation()">Delete</button>-->
<!--</div>-->
<!--</div>-->
<!--<div ng-show="active==item.registration" ng-class-odd="'alt'">-->
<!--<hr/>-->
<!--<div class="container">-->
<!--<div class="fluid-row">-->
<!--<div class="col-xs-12 col-sm-3">-->
<!--<b>ID:</b>-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-9">-->
<!--{{item.id}}-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-3">-->
<!--<b>Registration:</b>-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-9">-->
<!--{{item.registration}}-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-3">-->
<!--<b>Location:</b>-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-9">-->
<!--{{item.location.latitude + ', ' + item.location.longitude}}-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-3">-->
<!--<b>Capacity:</b>-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-9">-->
<!--{{item.capacity}} kg-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-3">-->
<!--<b>Load:</b>-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-9">-->
<!--{{item.load}} kg-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="pagination pull-right">-->
<!--<ul>-->
<!--<li ng-class="{disabled: currentPage == 0}">-->
<!--<a href ng-click="prevPage()">« Prev</a>-->
<!--</li>-->

<!--<li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "-->
<!--ng-class="{active: n == currentPage}"-->
<!--ng-click="setPage()">-->
<!--<a href ng-bind="n + 1">1</a>-->
<!--</li>-->

<!--<li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">-->
<!--<a href ng-click="nextPage()">Next »</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
